.dash-table {
  text-align: center;
  border-collapse: collapse;
}
tbody > :nth-child(odd) {
  background: #f3f6fa;
}
.dash-table th,
.dash-table td {
  padding: 0.2em 1em;
}

.dashboard {
  width: 100%;
  display: flex;

  .content {
    margin: auto;
  }
}
