.sidebar {
  position: relative;
  height: fit-content;
  li {
    margin: 0.5em 0;
    width: 100%;
    display: block;
    padding: 0.2em 1em;
    transition: transform 0.2s;
    &:hover {
      transform: translateX(0.5em);
    }
  }

  .active {
    color: white;
    border-radius: 5px;
    background: #444444;
    pointer-events: none;
  }
}

.burger {
  display: none;
  position: absolute;
  left: 100%;
  transform: translateY(-200%);
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.4s;
  }

  .sidebar-open {
    transform: translateX(0%);
  }

  .burger {
    display: block;
  }
}
