* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Barlow-light";
  src: url("./assets/fonts/barlow/BarlowSemiCondensed-Light.ttf");
}

@font-face {
  font-family: "Barlow-regular";
  src: url("./assets/fonts/barlow/BarlowSemiCondensed-Medium.ttf");
}

@font-face {
  font-family: "Barlow-bold";
  src: url("./assets/fonts/barlow/BarlowSemiCondensed-Bold.ttf");
}

:root {
  font-size: 12px;
}

body {
  font-size: 1.4rem;
  font-family: "Barlow-regular";
}

@media (min-width: 1300px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 1650px) {
  body {
    font-size: 1.8rem;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 2rem;
  }
}
